# Stuff Lending Test Report
Document the results of your final system test below. You find instructions on the course homepage.

|-----------------------------------------------------------------|
| Case     | Result   | Note                                      |
|----------|----------|-------------------------------------------|
|    5.1   |    ok    |   members created for further testing.    |
|-----------------------------------------------------------------|
|    1.1   |    ok    |   works as intended.                      |
|-----------------------------------------------------------------|
|    1.2   |    ok    |   if it is a duplicate, the following     |
|          |          |   error appears: "mail or phone number    |
|          |          |   already in use. registration failed.    |
|-----------------------------------------------------------------|
|    1.3   |    ok    |   member deleted successfully.            |
|-----------------------------------------------------------------|
|    2.1   |    ok    |   item is shown for the member.           |
|-----------------------------------------------------------------|
|    2.2   |    ok    |   item deleted succcessfully.             |
|-----------------------------------------------------------------|
|    2.3   |    ok    |   item deleted successfully from the      |
|          |          |   contract.                               |
|-----------------------------------------------------------------|
|    3.1   |    ok    |   Contract created successfully.          |
|-----------------------------------------------------------------|
|    3.2   |    ok    |   Contract not created due to lack        |
|          |          |   lack of funds.                          |
|-----------------------------------------------------------------|
|    3.3   |    ok    |   Contract not created due to             |
|          |          |   conflicting time.                       |
|-----------------------------------------------------------------|
|    3.4   |    ok    |   Contract not created due to             |
|          |          |   conflicting time.                       |
|-----------------------------------------------------------------|
|    3.5   |    ok    |   Contract is created for 3 days, day 4   |
|          |          |   day 8 and day 9                         |
|-----------------------------------------------------------------|
|    3.6   |    ok    |   Contract not created due to             |
|          |          |   conflicting time.                       |
|-----------------------------------------------------------------|
|    3.7   |    ok    |   Contract is fullfilled, can be found in |
|          |          |   expired contract, money has reduced.    |                                       
|-----------------------------------------------------------------|
